*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    min-height: 30px;
    margin: 10px;
    border: 1px solid #3EC70B;
    border-radius: 5px;
    overflow: hidden;
}

.texto_input{
    width: 70%;
    padding: 5px;
    border: none;
    color: #A149FA;
    outline: none;
}

.boton_agregar_tarea{
    width: 30%;
    padding: 3px;
    border-radius: 0px;
    border: none;
    background-color: #A149FA;
    color: white;
    font-weight: bold;
    font-size: 14px;
    outline: none;
}